#calculator{
    width:500px;
    height:500px;
    border:1px solid black;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 40px auto;
}

#display{
    width:480px;
    height:200px;
    border:1px solid black;
    display:flex;
    margin-top:40px;
}

